[app]
listen_addr = 0.0.0.0
listen_port = 9999

[bugzilla]
url = https://example.com/bugzilla/
api_key = SomeBugzillaApiKey

[github]
user = someuser@example.com
token = SomeGitHubToken
secret = SomeGitHubWebHookSecret